@font-face {
    font-family: ChubbyDotty; /* Имя шрифта */
    src: url('../fonts/chubby-dotty.ttf') format('truetype'); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
   }
body {
  min-width: 300px;
  cursor: url('../img/wand.ico'), auto;
}
#tailCoursor {
    width: 24px;
    height: 24px;
    background: url('../img/stars.ico') no-repeat;
    background-size: 24px 24px;
    margin: 10px 0 0 10px;
    position: absolute;
    transition: top 0.5s, left 0.5s;
    -webkit-transition: top 0.5s, left 0.5s;
    z-index: 100;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter-header {
  font-size: 24px;
}
#templateCardsResult {

}
.card h5 {
  margin: 25px;
}
/* #templateCardsResult .card:hover {
  box-shadow: 0 0 5px rgba(0,0,255,0.5);
}
#templateCardsResult  .card {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}  */
.carousel-caption {
  text-shadow: 5px 5px 15px rgba(255, 255, 255);
}
.carousel-caption:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.card-text {
  height: 195px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logo {
  font-family: ChubbyDotty;
  font-size: 32px;
}
li {
  list-style: none;
}
.no-wrap {
  white-space: nowrap;
}
.age {
  display: inline-block;
  padding: 0 3px;
}
td .age:not(:last-child):after {
  content: '-';
}

ul.list-custom li{
  list-style-image: url('../img/check.ico');
}
input[type=checkbox] {
  width: 20px;
}
tr:hover {
  background-color: rgb(0,0,0,0.1);
}
tr.animator {
  background-color: rgb(56, 172, 236,0.3);
}
tr.masterclass {
  background-color: rgb(153, 198, 142,0.3);
}
tr.promotion {
  background-color: rgb(255, 255, 204,0.3);
}
tr.birthday {
  background-color: rgb(231, 116, 113,0.3);
}
